/* Global classes
========================================================================== */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img,object,embed { max-width: 100%; height: auto; }

object,embed { height: 100%; }
/*img { display: inline-block; -ms-interpolation-mode: bicubic; vertical-align: middle; }*/

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}

.left {float: left;}
.right{float: right;}
img.left  {margin-right: 1em; margin-bottom: 1em; /*box-shadow: 5px 5px 0 rgba(0,0,0,.06);*/}
img.right {margin-left: 1em; margin-bottom: 1em; /*box-shadow: -5px 5px 0 rgba(0,0,0,.06);*/}

.text-left	  {text-align: left;}
.text-right	  {text-align: right;}
.text-center  {text-align: center;}
.text-justify {text-align: justify;}
.uppercase	{text-transform: uppercase;}
.block {display: block;}

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px;}
.ir:before { content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}