/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #84ba11;
$yellow: #ffce39;
$lime: #bcf60f;
$pink: #f0008b;
$blue: #00abf1;

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-condensed",sans-serif;
$body-font: "proxima-nova",sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 769px;
$break-large: 980px;
$break-xlarge: 1200px;