/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0892cb;
$blue: #0892cb;

/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 18;
$base-font-size: 18px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "chaparral-pro",sans-serif;
$body-font: "proxima-nova-alt",sans-serif;
$condensed-font: "proxima-nova-alt-condensed";


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 769px;
$break-large: 980px;
$break-xlarge: 1100px;