/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/resources/
/public/resources/
/public/assets/
.sass-cache/*
*.scssc
.DS_Store
dashboard/
vendor/
nocaptcha.yml
smtp.yml
/node_modules/
/npm-debug.log
/cache