
.breadcrumb {
	border-top: 1px solid rgba(255,255,255,.2);
	font-size: 12px;
	color: #eee;
	list-style:none;
	margin: 0 0 1em;
	overflow: hidden;
	@media (max-width: $break-large - 1) {
		display: none;
	}
}
.breadcrumb .inner {
	padding: 15px 0;
}
.breadcrumb ol {
	list-style: none;
	margin: 0;
	& li {
		float: left;
		list-style: none;
		margin: 0;
		position: relative;
		text-transform: uppercase;
	}
}
.breadcrumb li:first-child a {
	padding-left: 0;
}
.breadcrumb li:after {
	color: #eee;
	content: "\25B8";
	display: inline-block;
	padding: 0 10px 0 10px;
}
.breadcrumb li:last-child:after {
	content: "";
}
.breadcrumb li a {
	color: #eee;
	text-decoration: none;
}
.breadcrumb li a:hover, .breadcrumb li a:focus, .breadcrumb li a:active {
	color: #fff;
}