.footer {
	background-color: #222;
	color: #fff;
	position: relative;
	padding-bottom: 1px;
}
.stripes {
	position: absolute;
	top: 0;
	height: 5px;
	width: 100%;
}

/* ---------------------------------------------------------------
Social Media
--------------------------------------------------------------- */
.footer-social {
	background-color: #000;
	border-bottom: 1px solid #333;
	text-align: center;
}
.connect-us, .social-icons, .footer-donate {
	display: inline-block;
	vertical-align: top;
}
.connect-us {
	color: #eee;
	font-size: 22px;
	font-weight: normal;
	margin: 16px 20px 4px 0;
	@media (min-width: $break-large) {
		font-size: 25px;
	}
	& img {
		vertical-align: middle;
		position: relative;
		top: -6px;
		margin-right: 4px;
	}
}
.social-icons {
	list-style: none;
	margin: 0;
	width: auto;
}
.social-icons li {
	float: left;
	@media (min-width: $break-medium) {
		border-right: 1px solid #333;
		&:first-of-type {
			border-left: 1px solid #333;
		}
	}

}
.social-icons li a {
	background-color: #000;
	color: #fff;
	display: block;
	font-family: 'icomoon';
	font-size: 16px;
	line-height: 1;
	padding: 10px 11px;
	-ms-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	@media (min-width: $break-small) {
		font-size: 20px;
		padding: 20px 18px;
	}
	@media (min-width: $break-medium) {
		font-size: 17px;
		padding: 20px 16px;
	}
	@media (min-width: $break-large) {
		font-size: 20px;
		padding: 20px 25px;
	}
}
.social-icons li a:hover,.social-icons li a:focus {
	background-color: #222;
	color: $link;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-z03a72');
	src:url('../fonts/icomoon.eot?#iefix-z03a72') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-z03a72') format('truetype'),
		url('../fonts/icomoon.woff?-z03a72') format('woff'),
		url('../fonts/icomoon.svg?-z03a72#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-flickr:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e604";
}
.icon-youtube:before {
	content: "\e606";
}
.icon-wordpress:before {
	content: "\e600";
}
.icon-pinterest:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e608";
}
.footer-donate {
	font-size: 20px;
	color: #333;
	background-color: $link;
	border-radius: 3px;
	padding: 9px 20px;
	font-weight: bold;
	line-height: 1;
	margin: 8px 0 16px 0;
	margin-left: 20px;
	box-shadow: 0 4px #6d8e09;
	position: relative;
	-ms-transition: .15s ease-in-out;
	-moz-transition: .15s ease-in-out;
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out;
	@media (min-width: $break-medium) {
		margin-bottom: 8px;
	}
	&:hover, &:focus {
		color: #333;
		background-color: darken( $link, 5% );
		box-shadow: 0 2px #6d8e09;
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
	}
}

/* ---------------------------------------------------------------
Quick Links
--------------------------------------------------------------- */
.footerlinks {
	margin: 1.5em 0;
}
.footerlinks .link-group {
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	float: left;
	width: 50%;
	@media (min-width: $break-medium) {
		width: 16.666666666667%;
		border: none;
	}
}
.footerlinks .link-group:nth-child(even) {
	@media (max-width: $break-medium - 1) {
		border-right: 1px solid #333;
	}
}
.footerlinks .link-group:nth-child(-n+2) {
	@media (max-width: $break-medium - 1) {
		border-top: 1px solid #333;
	}
}
.link-group .title {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: $body-font;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: $break-medium) {
		text-align: left;
		font-weight: bold;
	}
	& a {
		color: #fff;
		display: block;
		padding: 15px 0;
		@media (min-width: $break-medium) {
			padding: 0;
		}
		&:hover, &:focus {
			color: $link;
			@media (max-width: $break-medium - 1 ) {
				background-color: #111;
			}
		}
	}
}
.link-group ul {
	display: none;
	list-style: none;
	margin: 0;
	@media(min-width: $break-medium) {
		display: block;
	}
}
.link-group ul a {
	color: #bbb;
	font-size: 13px;
	display: block;
	padding: 2px 16px 2px 0;
	&:hover, &:focus {
		color: $link;
	}
}

/* ---------------------------------------------------------------
Logos
--------------------------------------------------------------- */
.footer-logos {
	margin: 2em 0;
}
.logo-container {
	width: 25%;
	float: left;
}
.logo-container a {
	display: block;
	padding: 10px;
	& img {
		display: block;
		margin: 0 auto;
	}
}

/* ---------------------------------------------------------------
Copyright
--------------------------------------------------------------- */
.copyright {
	background-color: #000;
	border-top: 1px solid #333;
	text-align: center;
}
.copyright p {
	color: #bbb;
	font-size: 12px;
	margin: 0;
	padding: 12px 0;
	& a {
		color: #fff;
		&:hover, &:focus {
			color: $link;
			text-decoration: underline;
		}
	}
}


