.footer {
	background-color: #000;
	color: #fff;
	position: relative;
	padding: 1em 0;
	@media (max-width: $break-small - 1 ) {
		text-align: center;
	}
	& a {
		color: #bbb;
	}
}
.footer-logo img {
	display: block;
	margin: 0 auto;
}
.footer-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	& li {

	}
	& li a {
		color: #bbb;
		display: block;
		font-size: 14px;
		@media (max-width: $break-small - 1 ) {
			padding: 8px 0;
		}
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
.footer-address, .copy {
	color: #bbb;
	font-size: 14px;
	margin: 0;
}
.footer .row > div {
	padding: 1em;
}