.header {
	position: absolute;
	width: 100%;
	top: 43px;
	left: 0;
	z-index: 50;
	padding-top: 30px;
	padding-bottom: 30px;
}

.headertest {
	position: absolute;
	z-index: 10;
	width: 100%;
}
.logo {
	display: block;
	margin: 1em auto;
	width: 250px;
	@media (min-width: $break-medium) {
		width: 283px;
	}
	@media (min-width: $break-large) {
		float: left;
		width: 250px;
	}
	@media (min-width: 1050px) {
		width: 283px;
	}
}
.page-photo .logo img {
	width: auto;
}


/* Mobile styles */
.shifter-open .search-bar {
	margin: 2em 0 1.5em;
}
.shifter-open .search-bar #Search {
	float: none;
}
.shifter-open .search-bar #Search .text {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	&:focus {
		background-color: rgba(0,0,0,.4);
		border-color: #888;
	}
}
.shifter-open .search-bar #Search .text:focus {

}
