.header {


	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header .logo {
	float: left;
}


/* Mobile styles */
.shifter-open .search-bar {
	margin: 2em 0 1.5em;
}
.shifter-open .search-bar #Search {
	float: none;
}
.shifter-open .search-bar #Search .text {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	&:focus {
		background-color: rgba(0,0,0,.4);
		border-color: #888;
	}
}
.shifter-open .search-bar #Search .text:focus {

}
