.header {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 20%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 20%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 20%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 );

	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header .logo {
	float: left;
}


/* Mobile styles */
.shifter-open .search-bar {
	margin: 2em 0 1.5em;
}
.shifter-open .search-bar #Search {
	float: none;
}
.shifter-open .search-bar #Search .text {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	&:focus {
		background-color: rgba(0,0,0,.4);
		border-color: #888;
	}
}
.shifter-open .search-bar #Search .text:focus {

}
