.main-photo {
	// background: #000 url(../images/photo.jpg) no-repeat center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 670px;
	position: relative;
}
.main-photo:after {
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.70) 10%, rgba(0,0,0,0) 30%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 10%,rgba(0,0,0,0) 30%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 10%,rgba(0,0,0,0) 30%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 );

}
.main-photo .inner {
	position: absolute;
	z-index: 50;
	bottom: 60px;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	text-align: center;
	& h3 {
		margin: 0;
		font-size: 54px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		font-family: $body-font;
		font-weight: 900;
	}
}
.main-photo .inner .main-photo-link {
	color: #fff;
	display: inline-block;
	padding: 5px 30px;
	text-align: center;
	border-radius: 20px;
	margin-top: 30px;
	border: 2px solid #fff;
	font-size: 15px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
}

/* ---------------------------------------------------------------
Dance Programs
--------------------------------------------------------------- */
.home-programs {
	background: $link url(../images/program-bg.gif) no-repeat center bottom;
	color: #fff;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 230px;
	& p {
		width: 80%;
		font-size: 19px;
		margin: 0 auto;
	}
}
.home-programs h2 {
	color: #fff;
	margin: 0;
	font-family: $body-font;
	font-size: 21px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	& span {
		display: block;
		font-weight: 900;
		font-size: 66px;
	}

}
.programs {
	padding-bottom: 90px;
}
.program {
	text-align: center;
	@media (min-width: $break-medium) {
		margin-top: -50%;
	}

	& img {
		width: 100%;
		display: block;
		position: relative;
	}
	& .content {
		padding: 30px 20px 20px;
		text-align: center;
	}
	& h3 {
		font-family: $body-font;
		font-size: 38px;
		color: #111;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 900;
	}
	& p {
		font-size: 16px;
		margin-top: 5px;
	}
	& a {
		color: #000;
		border: 1px solid #d7d7d7;
		display: inline-block;
		padding: 5px 30px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 15px;
		margin-top: 1em;
	}
}
.border-img {
	position: relative;
}
.border-img:after {
	content: '';
	border: 1px solid rgba(255,255,255,.5);
	box-shadow: 0 0 0 10px rgba(0,0,0,0.03);
	position: absolute;
	display: block;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 12;
}

/* ---------------------------------------------------------------
Established in 1972
--------------------------------------------------------------- */
.established .head {
	text-align: center;
	background: #f5f5f5 url(../images/established-bg.gif) no-repeat center bottom;
	padding: 60px 0;
	.content {
		width: 60%;
		margin: 0 auto;
	}
	& h2 {
		margin: 0;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 43px;
		font-family: $body-font;
		margin-bottom: 10px;
	}
	& p {
		margin: 0;
		font-size: 20px;

	}
}
.established-photo {
	background: url(../images/established.jpg) no-repeat right top;
	background-size: cover;
	height: 430px;
}

/* ---------------------------------------------------------------
Learn More About Us
--------------------------------------------------------------- */
.learn {
	& .top {
		background: #fff;
		padding-top: 110px;
		padding-bottom: 230px;
	}
	& .bot {
		background: $link url(../images/program-bg.gif) no-repeat center bottom;
		padding-bottom: 90px;
	}
}

.learn .top h2 {
	text-transform: uppercase;
	font-size: 43px;
	font-family: $body-font;
	font-weight: 900;
	margin: 0;
}
.learn-spot {
	margin-top: -50%;
	& img {
		display: block;
		margin: 0 auto;
	}
	& h5 {
		font-family: $body-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		margin: 25px 0;
	}
	& h4 {
		font-family: $body-font;
		font-weight: 900;
		color: #fff;
		font-size: 24px;
		margin: 0 0 15px 0;
		& a {
			color: #fff;
			text-decoration: none;
		}
	}
	 & p {
	 	color: #fff;
	 	margin: 0;
	 }
}

/* ---------------------------------------------------------------
Announcements
--------------------------------------------------------------- */
.announcements {
	padding: 1em;
	margin-top: -120px;
	& h3 {
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 900;
		font-size: 31px;
		margin-bottom: 1.5em;
	}
	& a {
		color: #fff;
	}
	& ul {
		list-style: none;
		margin: 0;
		& li {
			padding: 15px 0;
			border-bottom: 1px solid rgba(255,255,255,.2);
			& a {
				color: #fff;

			}
		}
	}
	& .date {
		display: block;
		font-weight: 900;
		margin-bottom: 5px;
	}
	& .viewall {
		& a {
			font-size: 14px;
			text-decoration: underline;
		}
	}
}


