.main-photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 400px;
	position: relative;
	@media (min-width: $break-medium) {
		height: 500px;
	}
	@media (min-width: $break-large) {
		height: 670px;
	}
}
.main-photo:after {
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.70) 10%, rgba(0,0,0,0) 30%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 10%,rgba(0,0,0,0) 30%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 10%,rgba(0,0,0,0) 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 );
}
.main-photo .inner {
	position: absolute;
	z-index: 5;
	bottom: 60px;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	text-align: center;
	& h3 {
		margin: 0;
		font-size: 36px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
		font-family: $body-font;
		font-weight: 900;
		@media (min-width: $break-small) {
			font-size: 54px;
		}
	}
}
.main-photo .inner .main-photo-link {
	color: #fff;
	display: inline-block;
	padding: 5px 30px;
	text-align: center;
	border-radius: 20px;
	margin-top: 30px;
	border: 2px solid #fff;
	font-size: 15px;
	font-weight: bold;
	background: rgba(0,0,0,.3);
	transition: background .2s ease-in-out;
	&:hover, &:focus {
		background: rgba(0,0,0,.7);
	}
}

/* ---------------------------------------------------------------
Dance Programs
--------------------------------------------------------------- */
.home-programs {
	background: $link url(../images/program-bg.gif) no-repeat center bottom;
	color: #fff;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	& p {
		width: 95%;
		font-size: 16px;
		margin: 0 auto;
		@media (min-width: $break-small) {
			font-size: 19px;
			width: 80%;
		}
	}
	@media (min-width: $break-medium) {
		padding-bottom: 230px;
	}
}
.home-programs h2 {
	color: #fff;
	margin: 0;
	font-family: $body-font;
	font-size: 21px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
	& span {
		display: block;
		font-weight: 900;
		font-size: 36px;
		@media (min-width: $break-small) {
			font-size: 46px;
		}
		@media (min-width: $break-medium) {
			font-size: 66px;
		}
	}

}
.programs {
	background: #fff;
	@media (min-width: $break-medium) {
		padding-bottom: 90px;
	}
}
.program {
	text-align: center;
	padding: 1em;
	@media (min-width: $break-medium) {
		float: left;
		width: 33.33333333333333%;
		margin-top: -15%;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.program {
	& img {
		width: 100%;
		display: block;
		position: relative;
	}
	& h3 {
		font-family: $body-font;
		font-size: 23px;
		color: #111;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 900;
		@media (min-width: $break-large) {
			font-size: 32px;
		}
	}
	& p {
		font-size: 16px;
		margin-top: 5px;
	}
}
.program .content a {
	color: #000;
	border: 1px solid #d7d7d7;
	display: inline-block;
	padding: 5px 30px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 15px;
	background: #fff;
	transition: all .1s ease-in-out;
	&:hover, &:focus {
		background: $link;
		color: #fff;
		border-color: darken($link, 10%);
	}
}
.program .content {
	padding: 30px 20px 20px;
	text-align: center;
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		text-align: left;
		float: left;
		width: 60%;
		padding: 0 1em;
	}
}
.border-img {
	position: relative;
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		float: left;
		width: 40%;
	}
}
.border-img:after {
	content: '';
	border: 1px solid rgba(255,255,255,.5);
	box-shadow: 0 0 0 10px rgba(0,0,0,0.03);
	position: absolute;
	display: block;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 10;
}

/* ---------------------------------------------------------------
Established in 1972
--------------------------------------------------------------- */
.established .head {
	text-align: center;
	background: #f5f5f5 url(../images/established-bg.gif) no-repeat center bottom;
	padding: 60px 0;
	.content {
		width: 95%;
		margin: 0 auto;
		@media (min-width: $break-medium) {
			width: 60%;
		}
	}
	& h2 {
		margin: 0;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 26px;
		font-family: $body-font;
		margin-bottom: 10px;
		@media (min-width: $break-small) {
			font-size: 43px;
		}
	}
	& p {
		margin: 0;
		font-size: 15px;
		@media (min-width: $break-small) {
			font-size: 20px;
		}
	}
}
.established-photo {
	display: none;
	@media (min-width: 700px) {
		background: url(../images/established.jpg) no-repeat right top;
		background-size: cover;
		height: 430px;
		display: block;
	}
}

/* ---------------------------------------------------------------
Learn More About Us
--------------------------------------------------------------- */
.learn {
	& .top {
		background: #fff;
		padding-top: 60px;
		padding-bottom: 60px;
		@media (min-width: $break-medium) {
			padding-top: 110px;
			padding-bottom: 180px;
		}
		@media (min-width: $break-large) {
			padding-bottom: 230px;
		}
	}
	& .bot {
		background: $link url(../images/program-bg.gif) no-repeat center bottom;
		@media (min-width: $break-medium) {
			padding-bottom: 90px;
		}
	}
}

.learn .top h2 {
	text-transform: uppercase;
	font-size: 36px;
	font-family: $body-font;
	font-weight: 900;
	margin: 0;
	@media (min-width: $break-small) {
		font-size: 43px;
	}
}
.learn-spot {
	& img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	& h5 {
		font-family: $body-font;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 14px;
		font-weight: normal;
		color: #fff;
		margin-top: 5px;
		@media (min-width: $break-medium) {
			margin: 25px 0;
		}
	}
	& h4 {
		font-family: $body-font;
		font-weight: 900;
		color: #fff;
		font-size: 18px;
		margin: 0 0 15px 0;
		@media (min-width: $break-medium) {
			font-size: 24px;
		}
		& a {
			color: #fff;
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
	 & p {
	 	color: #fff;
	 	margin: 0;
	 	@media (max-width: $break-medium - 1) {
			font-size: 15px;
		}
	 }
}
.learn-spot .content {
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		text-align: left;
		float: left;
		width: 60%;
		padding: 0 1em;
	}
}
.learn-spot {
	padding: 1em 0;
	@media (min-width: $break-medium) {
		margin-top: -50%;
	}
}

/* ---------------------------------------------------------------
Announcements
--------------------------------------------------------------- */
.announcements {
	& h3 {
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 900;
		font-size: 28px;
		@media (min-width: $break-medium) {
			margin-bottom: 1.5em;
			margin-top: 2.5em;
			font-size: 24px;
		}
		@media (min-width: $break-large) {
			font-size: 27px;
			margin-top: 1em;
		}
	}
	& a {
		color: #fff;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	& ul {
		list-style: none;
		margin: 0;
		& li {
			padding: 15px 0;
			border-bottom: 1px solid rgba(255,255,255,.2);
			& a {
				color: #fff;
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
	& .date {
		display: block;
		font-weight: 900;
		margin-bottom: 5px;
	}
	& .viewall {
		& a {
			font-size: 14px;
			text-decoration: underline;
		}
	}
}
.announcements {
	@media (min-width: $break-medium) {
		margin-top: -120px;
	}
	@media (min-width: $break-large) {
		padding: 1em;
	}
}


