#SearchResults {
	list-style: none;
	margin: 0;
	padding: 0;
	& li {
		border-bottom: 1px solid #ddd;
		padding: 0 1em 1em;
	}
	& li:first-of-type {
		border-top: 1px solid #ddd;
	}
	& li:nth-child(even) {
		background-color: #f4f4f4;
	}
	.results-title {
		font-size: 120%;
	}
}
#PageNumbers {
	text-align: center;
	& .pagination a {
		padding: 0 10px;
	}
}
#SearchResults .search-type {
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}
.results-url {
	font-size: 80%;
}