/* ---------------------------------------------------------------
Subnavigation
--------------------------------------------------------------- */
.naver {
	@media (min-width: $break-large) {
		margin-top: -100px;
	}
}
.fs-navigation-handle {
	display: none;
}
.subnavigation h2 {
	font-size: 15px;
	font-family: $body-font;
	font-weight: normal;
	margin: 0 0 10px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.subnavigation .active {
	font-weight: bold;
	& li {
		font-weight: normal;
	}
}
.subnavigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.subnavigation .section-title {
	color: #333;
	margin: 0;
	padding: 25px 20px;
	text-transform: uppercase;
	font-family: $body-font;
	& a {
		color: #333;
		display: block;
	}
}
.subnavigation h4 {
	font-size: 20px;
	& a {
		color: #444;
	}
}
.subnavigation a {
	text-decoration: none;
}
.subnavigation .block {
	background: #fff;
	border: 1px solid #e5e5e5;
	@media (max-width: $break-large) {
		margin-top: 0;
	}
}
.subnavigation .first-level {
	border-top: 1px solid #e5e5e5;
}

.subnavigation li a {
	border-bottom: 1px solid #e5e5e5;
	display: block;
	font-size: 15px;
	color: #333;
	padding: 15px 20px;
	&:hover, &:focus {
		background: #fafafa;
	}
}
.subnavigation li:last-of-type a {
	border-bottom: none;
}
/* Active */
.subnavigation li.active {
	background: #fafafa;
	border-bottom: 1px solid #e5e5e5;
	& a {
		border-bottom: none;
		color: $link;
	}
}
.subnavigation .second-level li.active {
	border-bottom: none;
}
.subnavigation .second-level li.active a {
	font-weight: bold;
}
.subnavigation .second-level li a {
	font-size: 14px;
	padding: 10px 20px 10px 30px;
	&:before {
		content: '- ';
	}
}


/* ---------------------------------------------------------------
Mobile Styles (Naver)
--------------------------------------------------------------- */
.naver.enabled .naver-container {
	padding: 0;
}
.subnavigation .block {
	@media (max-width: $break-large -1) {
		margin-top: 0;
	}
}



