/* ---------------------------------------------------------------
Base styles
--------------------------------------------------------------- */
body, html {
  height: 100%;
}
html {
	font-size: 15px;
	line-height: 1.5;
	@media screen and (min-width: $break-small) {
		font-size: $base-font-size;
		line-height: 1.6;
	}
}
body {
	background: #fafafa;
	color: #222;
	font-family: $body-font;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.mobile-hide {
	@media (max-width: $break-medium ) {
		display: none;
	}
}
.tablet-hide {
	@media (max-width: $break-large ) {
		display: none;
	}
}
.tablet-show {
	@media (min-width: $break-large) {
		display: none;
	}
}

/* ---------------------------------------------------------------
Layout
--------------------------------------------------------------- */
.container {
	max-width: $break-xlarge;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	@media (min-width: $break-small) {
		width: $break-small - 20;
		padding-left: 25px;
		padding-right: 25px;
	}
	@media (min-width: $break-medium) {
		width: $break-medium - 20;
	}
	@media (min-width: $break-large) {
		width: $break-large - 20;
	}
	@media (min-width: $break-xlarge) {
		width: $break-xlarge - 40;
	}
}
.main {
	padding-top: 2em;
	padding-bottom: 2em;
}
.page-photo {
	max-height: 500px;
	overflow: hidden;
	position: relative;
}
.page-photo img {
	display: block;
	width: 100%;
}

.credit-content {
	& p {
		display: inline;
		margin: 0;
	}
}
.fs-navigation-handle {
	display: none;
}



/* ---------------------------------------------------------------
Justify
--------------------------------------------------------------- */
.justify {
	font-size: 0.1px;
	list-style: none;
	margin: 1em 0;
	overflow: hidden;
	text-align: justify;
}
.justify:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.justify-item {
	display: inline-block;
	font-size: $base-font-size;
	margin-bottom: 1em;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
.justify-2 .justify-item {
	@media screen and (min-width: $break-small) {
		width: 47%;
	}
}
.justify-3 .justify-item {
	width: 47%;
	@media screen and (min-width: $break-medium) {
		width: 30%;
	}
}
.justify-4 .justify-item {
	width: 47%;
	@media screen and (min-width: $break-medium) {
		width: 22%;
	}
}
.justify .filler {
	height: 0 !important;
	margin: 0 !important;
}

/* ---------------------------------------------------------------
Skip Links
--------------------------------------------------------------- */
#skiptocontent {
	position: absolute;
	left: 10px;
	top: -100px;
	transition: .25s;
}
#skiptocontent:focus {
	position: absolute;
	left: 10px;
	top: 10px;
	background: #f1f1f1;
	outline: 0;
	outline-offset: -2px;
	padding: 10px;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
	z-index: 100;
}
#main-content {
	outline: 0;
}

/* ---------------------------------------------------------------
Admin Login form fields
--------------------------------------------------------------- */
#MemberLoginForm_LoginForm fieldset,
.UserDefinedForm fieldset {
	padding: 1em 0;
	border: none;
}
.UserDefinedForm fieldset .field {
	margin-bottom: 1em;
	overflow: hidden;
}
#MemberLoginForm_LoginForm .field .text,
.UserDefinedForm fieldset .field .text {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.UserDefinedForm fieldset .field .textarea {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#MemberLoginForm_LoginForm #Remember label.right,
.UserDefinedForm fieldset label.right {
	float: none;
	padding-left: 5px;
}
.UserDefinedForm fieldset .field .optionset {
	list-style: none;
	margin: 0;
	& li label {
		font-weight: normal;
		padding-left: 5px;
	}
}
.UserDefinedForm fieldset label.left {
	float: none;
}
#MemberLoginForm_LoginForm .Actions .action,
.UserDefinedForm  .Actions .action {
	display: inline-block;
	padding: 8px 12px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	background-image: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-decoration: none;

	&:hover {
		background-color: #eee;
		border-color: #adadad;
	}
}
 .UserDefinedForm .FormHeading {
 	border-top: 1px solid #ccc;
 	padding: 1em 0;
 }
 .ss-form-container {
 	box-shadow: none;
 }

