/* ---------------------------------------------------------------
Staff Holder Page
--------------------------------------------------------------- */
.staffholder .title {
	font-size: 18px;
	margin: 10px 0;
	text-decoration: none;
}
.staffholder .position {
	display: block;
	font-size: 14px;
}
.staffholder .justify-item {
	margin-bottom: 2em;
}

/* ---------------------------------------------------------------
Staff Member Page
--------------------------------------------------------------- */
.staffmember .position {
	font-size: 24px;
	@media (min-width: $break-small) {
		width: 40%;
	}
}
.staffmember-img {
	box-shadow: -5px 5px 0 $link;
	@media (min-width: $break-small) {
		float: right;
		margin: 0 0 15px 30px;
		width: 50%;
	}
}
/* only if a member has a position */
.position .staffmember-img {
	@media (min-width: $break-small) {
		margin-top: -80px;
		width: 50%;
	}
}
.staffmember hr {
	clear: none;
}
.staffmember .details {
	background: rgba(0,0,0,.05);
	font-size: 15px;
	list-style: none;
	margin: 30px 0;
	padding: 20px;
	& li {
		padding: 5px 0;
	}
	@media (min-width: $break-medium) {
		margin: 30px 0 30px -30px;
		padding: 20px 20px 20px 30px;
	}
}
.staffmember .details strong {
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		display: block;
	}
}