/* ---------------------------------------------------------------
Staff Holder Page
--------------------------------------------------------------- */
.staffholder a {
	display: block;
}
.staffholder a:hover .title,
.staffholder a:focus .title {
	text-decoration: underline;
}
.staffholder .title {
	color: $link;
	font-size: 18px;
	margin: 10px 0 1px;
	text-decoration: none;
}
.staffholder .position {
	color: #333;
	display: block;
	font-size: 14px;
}
.staffholder .justify-item {
	margin-bottom: 2em;
}

/* ---------------------------------------------------------------
Staff Member Page
--------------------------------------------------------------- */
.staffmember .position {
	@media (min-width: $break-small) {
		width: 45%;
	}
}
.staffmember-img {
	box-shadow: -5px 5px 0 #ddd;
	@media (min-width: $break-small) {
		float: right;
		margin: 0 0 15px 30px;
		width: 50%;
	}
}

/* only if a member has a position
----------------------------------------------------*/
.position .staffmember-img {
	@media (min-width: $break-small) {
		margin-top: -80px;
		width: 50%;
	}
}
.staffmember hr {
	clear: none;
}

/* email & phone number
----------------------------------------------------*/
.staffmember .details {
	background: rgba(0,0,0,.04);
	font-size: 15px;
	list-style: none;
	margin: 30px 0;
	padding: 20px;
	& li {
		padding: 5px 0;
	}
	@media (min-width: $break-medium) {
		margin-left: -30px;
		padding-left: 30px;
	}
}
.staffmember .details strong {
	@media (min-width: $break-small) and (max-width: $break-medium - 1) {
		display: block;
	}
}