@charset "UTF-8";
/* CSS Document */

/*background stuff, todo */

html, body {
	background: black;	
}

#body-wrapper{
	width: 982px;
	margin: auto;
	
	/* durf, comment the following out later */
	/*border: 1px solid white;*/
}

.clear-both {
	height:0px;
	clear: both;
}

.clear-right{
	clear: right;
}

.clear-left{
	clear: left;	
}

/* Very top department/ui logos */

#department-logos-container {
	padding-top: 10px;
	width: 982px;
	margin: auto;
}

#department-logos {
	height: 40px;
	border-bottom: 1px #7f7f7f dotted;
	
}

#department-of-dance-logo{
	margin-top: 12px;
	float: left;	
}

#uiowa-logo {

	float: right;

}

/* Featured Stuff */

.main-content {
	margin:10px 0 0 0;
	min-height:350px;
	width:700px;
	}
	

#youth-ballet-logo {
	border-bottom: 1px #7f7f7f solid;
	padding-bottom: 25px;
}

h1.logo a {
	float:left;
	display:block;
	text-indent:-9999px;
	width:405px;
	margin-top:15px;
	color:transparent;
	background:transparent url(../images/youthballetlogo.png) no-repeat scroll 0px 8px;
	height:137px;}
	
	

#featured-container {
	margin-top: 5px;
	margin-bottom:10px;
	height: 500px;
	border-bottom: 1px solid #3f3f3f;
	background-repeat:no-repeat;
	background-position:320px 0px;
	background-image:url(../images/featured-background.jpg) ;
}

#top-container {
		/*background:transparent url(../images/featured-background-test.jpg) no-repeat scroll 0px 8px;*/
	margin-top: 5px;
	height:150px;
}

#featured-content{
	float: left;
	width: 460px;
}

#featured-content h1{
	height: 170px;	
}

#featured-nav {
	float: right;
margin-top:10px;
	width: 275px;
}

#featured-nav ul li a {
	color:white;
	text-transform:uppercase;
	font:lighter 27px 'Josefin Sans Std Light', Arial, Helvetica, sans-serif;}
	
#featured-nav ul li a.current {
	color:#F93AF0;}
	
#featured-nav ul li a:hover {
	color:#62D8F4;}

#clas-footer-logo {
	margin-top:-10px;
	float:right;}


#featured-nav ul{
	float: right;
	text-align: right;
}

#featured-nav li{
	padding-top: 2px;
	padding-bottom: 2px;
	
}

#control-featured-background{
	margin-top: 180px;
	
}
#control-featured-background li{
	float: left;
	padding-right: 10px;
	
}
#control-featured-background li img{

	border:dotted 1px #ccc;
	
}

.typography #mission p.testimonial {
color:#999;
font-size:18px;
font-style:italic;
	font-family:'Josefin Sans Std Light',arial,serif;
font-weight:lighter;
line-height:24px;}

.typography #mission p.parent {
	font-family:'Josefin Sans Std Light',arial,serif;
	color:#0892CB;
	font-style:italic;
	font-size:19px;}


#content {
	margin-top: 0px;
}

#content #subnav ul li   {list-style-type:none;}

#content ul {margin:0 0 20px 15px;}
#content ul ul {
	margin:10px 0 10px 20px;
	font-size:14px;}

	#content  ul li {
		font:lighter 14px Arial, Helvetica, sans-serif;
		color:#666;
		list-style:disc;
		margin:6px 0 5px 0;}

/* News Container Items */

#news-container {
	/*height: 305px;*/
	margin-top: 25px;
	width:300px;
	float:left;
}

#events{
	width: 500px;
	float: left;
	margin: 0 35px 30px 0;
}


.event {
	
	margin-top: 10px;
}

.event img{
	border:1px dotted #ccc;
	float: left;	
	margin-right: 10px;
}

.event-description{
	margin-bottom:20px;

}

#announcements{
		margin: 25px 0 0px 0;
	width: 430px;
	float: right;
}

#announcements ul {margin-top:5px;}

#announcements ul li{
	padding: 5px 0 0px 0;
	
}

#copyright-info {
	padding:15px 0 0 0;
	border-top:1px dotted #666;}

/* Content Container Items */

#content-container{
	border-bottom: 1px dotted #666;	
	padding-bottom: 55px;
	min-height: 350px;
}

.video {
	margin:10px 0 0 0;
	width:500px;
	border:1px dotted #ccc;}

#video {
	width: 550px;
	margin: 0 35px 0 0;
	float: left;	
}

.pdf {display:inline;margin:0 0 0 10px;}
	
#mission {
	margin:25px 0 0 0;
	width: 430px;
	float: right;
}

/* Footer stuff */

#footer-nav {
float:right;}
	
#footer{width:980px;
float:left;
	padding:0 0 60px 0;
	margin-top: 25px;	
}

#copyright-info {
	margin-top: 35px;	
}

#copyright-info p{
	float: left;
line-height:17px;
	margin-top: 8px;
	color:#808e8a;
	font-size:12px;
}

#footer-nav .schedules {width:130px;}
.footer-block {

float:left;
margin-left:20px;
padding-right:15px;
}
#youth-ballet-footer-logo {
	float: left;	
}

#uiowa-footer-logo {
	float: none;
	display:block;
clear:both;	
}

#content #subnav {
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
border-radius: 0 0 9px 9px;
		-moz-border-radius: 0 0 9px 9px;
	padding:0 10px 0 0;
	background:#745A72;
float:right;
	min-width:230px;
	
}
#subnav a {
	text-decoration: none;
}
#subnav li a:hover {color:#62D8F4;}
#subnav li {
	padding: 2px 5px 0 15px;
	float:right;}
	
#subnav li.current {color:#ccc;
}
#subnav li a, #subnav li   {
	color:white;
	font-size: 14px;
text-transform:uppercase;
}

.orange.awesome:hover {
background-color:#c08cbd;
}

.orange.awesome, .orange.awesome:visited {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	text-transform:uppercase;
background-color:#745a72;
}

.large.awesome,.large.awesome:visited {

padding:8px 14px 9px;
}


.awesome:hover {
background-color:#c08cbd;
color:#FFFFFF;
}

.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited {
font-size:26px;
leter-spacing:5px;
line-height:1;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}

.awesome, .awesome:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-radius: 5px;

-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
background:#c08cbd url(/images/alert-overlay.png) repeat-x scroll 0 0;
border-bottom:1px solid rgba(0, 0, 0, 0.25);
color:#FFFFFF;
cursor:pointer;
display:inline-block;
padding:5px 20px 6px;
width:212px;
margin:40px 0 0 0;
position:relative;
text-decoration:none;
float:right;clear:right;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}

	