/* ---------------------------------------------------------------
Primary style
--------------------------------------------------------------- */
body.overflow-hidden {
	/* when primary navigation is visible, the content in the background won't scroll */
	overflow: hidden;
}

/* ---------------------------------------------------------------
Menu trigger button
----------------------------------------------------------------*/
.cd-primary-nav-trigger {
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
	height: 50px;
	width: 50px;
	z-index: 13;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border: none;
	margin: 0;
	padding: 0;
	text-align: left;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (min-width: 601px) {
		height: 40px;
		width: 100px;
		padding-left: 13px;
	}
	@media (min-width: $break-medium) {
		display: none;
	}
}
.cd-primary-nav-trigger .cd-menu-text {
	color: #ddd;
	text-transform: uppercase;
	font-size: 16px;
	/* hide the text on small devices */
	display: none;
	@media (min-width: 601px) {
		display: inline-block;
	}
}
.cd-primary-nav-trigger .cd-menu-icon {
	/* this span is the central line of the menu icon */
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 18px;
	height: 2px;
	background-color: #ddd;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	/* these are the upper and lower lines in the menu icon */
	@media (min-width: 601px) {
		left: auto;
		right: 1em;
		-webkit-transform: translateX(0) translateY(-50%);
		-moz-transform: translateX(0) translateY(-50%);
		-ms-transform: translateX(0) translateY(-50%);
		-o-transform: translateX(0) translateY(-50%);
		transform: translateX(0) translateY(-50%);
	}
}
.cd-primary-nav-trigger .cd-menu-icon::before,
.cd-primary-nav-trigger .cd-menu-icon:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ddd;
	right: 0;
	-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
	-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
	transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
	top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
	top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
	background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
	background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
	top: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
	top: 0;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

/* ---------------------------------------------------------------
Navigation dropdown list
----------------------------------------------------------------*/
.cd-primary-nav {
	/* by default it's hidden - on top of the viewport */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	background: rgba(2, 23, 37, 0.96);
	z-index: 12;
	text-align: center;
	padding: 50px 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
	@media (min-width: $break-medium) {
		display: none;
		visibility: hidden;
	}
}
.cd-primary-nav li {
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: .2em 0;
	text-transform: capitalize;
}
.cd-primary-nav a {
	color: #fff;
	display: inline-block;
	padding: .3em 1em;
	border-radius: 0.25em;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}
.no-touch .cd-primary-nav a:hover,
.no-touch .cd-primary-nav a:focus {
	background-color: #0892cb;
}
.cd-primary-nav .cd-label {
	color: #a52163;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	margin: 1em 0 .8em;
}

.cd-primary-nav.is-visible {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}