@charset "UTF-8";
/* CSS Document */

.typography p, ul{
	color: #666;
	margin:0 0 15px 0;
	font:lighter 15px/22px Arial, Helvetica, sans-serif;
}

.right {
	float:right;
	margin:10px 0 10px 10px;}
	
	.left {
		float:left;
		margin:10px 10px 10px 0;}
		
		

p b, p strong, ul b, ul strong {font-weight:bold;color:#666;}
a {
	color:#0892cb;}
	
#footer-nav ul li {
	font-size:12px;
	line-height:14px;}
	
#announcements-right {
	border:1px dotted #666;
	-moz-border-radius: 9px;
-webkit-border-radius: 9px;

	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: normal;
	font-size: 16px;
	float: right;
	padding:15px;
	width: 210px;
	margin-top: 20px;
	margin-right: 0px;
	clear:right;
	text-align: left;
	margin-left: 30px;
}

#announcements a:hover {color:#ccc;text-decoration:underline;}


#announcements-right ul {
	margin:20px 0 0 0;}
	
#announcements-right ul li {
	list-style: disc;
	list-style-image: url(../images/bullet.png);
	list-style-position: outside;
	margin: 0px 0 6px 20px;
	font-size: 13px;
	line-height:16px;
}
#announcements-right a {
	color: #333333;
}


#announcements-right a:hover {
	text-decoration:underline;
	color:#09F;
	color: #333333;
}
.typography h1, .typography h2{
	font-family: Arial, Helvetica, sans-serif;
}

.typography #featured-content h2 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	color: white;
	line-height: 39px;
	font-size: 32px;
	letter-spacing:1px;
	
}

.typography #featured-content p {
	font-size: 14px;	
	line-height: 30px;
	margin: 15px 25px 0 0;
	font-weight:lighter;
}

.typography #content-container h1,
#announcements-right h1{
	color: #ff3399;
	letter-spacing:1px;
	text-transform: uppercase;
	font-family: 'Josefin Sans Std Light',  arial, serif;
	margin:0 0 10px 0;
	font-size: 24px;
}
.homepage h2{
	color: #ff3399;
	letter-spacing:1px;
	text-transform: uppercase;
	font-family: 'Josefin Sans Std Light',  arial, serif !important;
	margin:0 0 10px 0;
	font-size: 24px !important;
}
#announcements-right h2 {
	color: #ff3399;
	display:inline;
	font-family: 'Josefin Sans Std Light',  arial, serif !important;
	font-size:19px !important;
	letter-spacing:1px;
	margin:0 0 10px 0;
	text-transform: uppercase;
}

.typography #content-container .event-description h1 {
	margin:0px;}

#announcements-right h1, #announcements h1 {
display:inline;
	font-size:19px;}

.typography #events .event h3 {
	color: #62d8f4;
	font-family: 'Josefin Sans Std Light',  arial, serif;
	font-size: 14px;
	text-transform: none;
}

.typography #events .event strong {
	color: #7c7b71;
	font-size: 16px;
	font-family: 'Josefin Sans Std Light',  arial, serif;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}

.typography #announcements ul li{
	list-style-image: url(../images/bullet.png);
	list-style-position: inside;
	font-size: 14px;

	
}

.typography #video h1 {
	color: #FF3399/*#3366ff*/;	
	
}

.typography #mission p{
	font-size: 14px;
	line-height: 25px;

}

.typography #footer h2{
	margin:0 0 10px 0;
	color: #54877a;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:16px;
		font-family: 'Josefin Sans Std Light',  arial, serif;
}

#content h2 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 40px;
	padding-top:10px;
}

#content h3 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 30px;
	color:#666;
	margin-bottom: 10px;
}

#content h4 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 25px;
	margin-bottom: 10px;
	color:#999;
}

#content p {
	font:lighter 15px/22px Arial, Helvetica, sans-serif;
	color: #666;
	margin-bottom: 15px;
}
#announcements a {
	color: #AFAEA8;
}
a {
	text-decoration: none;
}
.footer-block a {
	color: #808e8a;
	font-weight:lighter;
	text-decoration: none;
}